// primary
$color__site-primary: #2c4ab0;
$color__site-secondary: #2b2b2b;

// site default
$color__site-bg: #f0f3f6;
$color__site-light-gray: #F2F2F2;
$color__site-gray: #D5D7DB;
$color__site-dark-gray: #9B9B9B;
$color__site-muted: #6C757D;
$color__site-green: #03A127;
$color__site-blue: #1a5dd7;
$color__site-yellow: #F7CA31;
$color__site-red: #F43C4D;
$color__site-mint: #25B9CF;
$color__site-point-green: #D3F8B0;


// forms
$color__form-blue: #007bff;
$color__form-border: #d2d2d2;

// table
$color__table-border: #D5D7DB;
$color__table-default-border: #dee2e6;

// modal
$color__modal-border: #f2f1ee;

// button
$color__button-default: #2a46b3;
$color__button-gray: rgb(75, 83, 90);

// site text
$color__text-main: #2B2B2B;
$color__text-placeholder: rgba(0, 0, 0, 0.3);

// link
$color__link: $color__text-main;
$color__link-visited: $color__text-main;
$color__link-hover: $color__text-main;