// pc, tablet
$size__navbar-height: 70px;
$size__navbar-height-mobile: 50px;
$size__breadcrumb-height: 60px;
$size__breadcrumb-height-mobile: 40px;
$size__footer-height: 100px;
$size__footer-height-mobile: 100px;

// mobile