$font__main: "notokr", "맑은 고딕", NanumGothic, 나눔고딕, 'Spoqa Han Sans', "Helvetica Neue", Arial, sans-serif;
$font__eng: "Open Sans", "notokr", "맑은 고딕", NanumGothic, 나눔고딕, 'Spoqa Han Sans', "Helvetica Neue", Arial, sans-serif;
$font__fontello: 'fontello';

$font__line-height-body: 1.4;
$font__line-height-pre: 1.6;

$font__weight: 400;

$font__heading-weight: 500;
$font__heading-weight-thin: 400;
$font__heading-letter-spacing: 0;

$font__letter-spacing: -0.5px;

$font__default_size: 1;