h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: $font__heading-weight;
    letter-spacing: normal;
}

h4 {
    &.line-title {
        position: relative;
        padding-left: 10px;
        margin-top: 1.5rem;
        margin-bottom: 1rem;

        @include respond-to('col-md-max') {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
        }

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 5px;
            height: 30px;
            left: 0;
            top: -2px;
            background-color: $color__site-primary;
            @include border-radius(10px);

            @include respond-to('col-md-max') {
                height: 24px;
            }
        }
    }

    @include respond-to('col-md-max') {
        font-size: 1.125rem;
    }
}

h5 {
    &.line-title {
        position: relative;
        padding-left: 10px;
        margin-top: 1.5rem;
        margin-bottom: 1rem;

        @include respond-to('col-md-max') {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
        }

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 5px;
            height: 26px;
            left: 0;
            top: -2px;
            background-color: $color__site-primary;
            @include border-radius(10px);

            @include respond-to('col-md-max') {
                height: 20px;
            }
        }
    }

    @include respond-to('col-md-max') {
        font-size: 1rem;
    }
}

h6 {
    @include respond-to('col-md-max') {
        font-size: 0.875rem;
    }
}