body,
button,
input,
select,
optgroup,
textarea {
    color: $color__text-main;
    font-family: $font__main;
    letter-spacing: $font__letter-spacing;
    @include font-size($font__default_size);
    line-height: $font__line-height-body;
    font-weight: $font__weight;
}