%default-slick-wrap {
	.slick-wrap {
		height: 100%;
		opacity: 0;
		visibility: hidden;
		@include transition(opacity 1s ease);

		&.slick-initialized {
			visibility: visible;
			opacity: 1;
		}

		.slick-list,
		.slick-track {
			height: 100%;

			.slick-slide {
				height: 100%;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: 400px;

				.bg {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					z-index: -1;
					@include transform(scale(1));
					@include transition(transform 6s ease);
					@include transition-delay(1s);

					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-color: rgba(0, 0, 0, 0.2);
					}
				}

				.content {
					color: white;
					width: 95%;
					text-align: center;
					word-wrap: break-word;
					opacity: 0;
					@include text-shadow(0, 2px, 8px, rgba(0, 0, 0, 0.7));
					@include transition(all 1s ease-in-out);
					@include transform(translateY(15px));
					@include transition-delay(0.4s);

					h1 {
						@include respond-to('col-md-max') {
							font-size: 2rem;
						}
					}

					ul {
						text-align: left;
						display: inline-block;

						li {
							padding: 0.2rem 0;

							span {
								width: 40px;
								font-weight: 500;
								display: inline-block;
							}
						}
					}
					.application-textarea {
						max-width: 500px;
						text-align: left;
						margin: 0 auto;
						@include respond-to('col-md-max') {
							width: 100%;
						}
					}
				}

				&.active-item {
					.bg {
						@include transform(scale(1.1));
					}

					.content {
						opacity: 1;
						@include transform(translateY(0));
					}
				}
			}
		}

		.slick-dots {
			position: absolute;
			bottom: 1rem;
			left: 50%;
			@include transform(translateX(-50%));
			display: inline-flex;

			li {
				flex: 0 0 1;
				opacity: 0.5;

				button {
					@extend %btn-reset;
					text-indent: -9999px;
					width: 20px;
					height: 3px;
					background-color: white;
					margin: 0 5px;
				}

				&.slick-active {
					opacity: 1;
				}
			}
		}
	}
}
.body-application {
	.page {
		.section {
			height: 100vh;

			.application-form-wrap {
				display: flex;
				flex-flow: row;
				height: 100%;

				& > div {
					flex: 1;
					overflow: hidden;

					&.slide-wrap {
						@extend %default-slick-wrap;
					}

					&.form-wrap {
						padding: 3rem;
						overflow: auto;
						background-color: white;

						@include respond-to('col-md-max') {
							padding: 2rem 1.5rem;
						}

						@include respond-to('col-sm-max') {
							padding: 2rem 0;
						}
					}
				}

				@include respond-to('col-lg-max') {
					flex-flow: column;

					& > div {
						overflow: inherit;

						&.form-wrap {
							overflow: inherit;
						}
					}
				}
			}
		}
	}
}

.modal-mobile {
	.modal-content {
		& > .content {
			padding: 0;

			& > div {
				&.slide-wrap {
					@extend %default-slick-wrap;
					.slick-wrap {
						.slick-list,
						.slick-track {
							.slick-slide {
								.content {
									h1 {
										font-size: 2rem;
									}
									.application-textarea {
										width: 100%;
										font-size: 0.875rem;
									}
								}
							}
						}
					}
				}
				&.form-wrap {
					padding: 2rem 0;
					overflow: hidden;
					background-color: white;
					font-size: 0.875rem;
					dl.dl-table {
						dt,
						dd {
							font-size: 0.875rem;
						}
					}
					.form-control {
						font-size: 0.875rem;
					}
				}
			}
		}
	}
}
