%btn-reset {
	border: none;
	outline: none !important;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	cursor: pointer;
	background: transparent;
	display: inline-block;
	text-decoration: none;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;
	text-align: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: 0;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	@include appearance(none);
	@include border-radius(0);
}

.button {
	@extend %btn-reset;
	background-color: $color__button-default;
	width: auto;
	height: 40px;
	line-height: 40px;
	font-weight: 500;
	letter-spacing: normal;
	color: white !important;
	text-align: center;
	cursor: pointer;
	padding: 0 1.25rem;
	@include transition(background-color 0.3s ease);
	@include border-radius(3px);

	&:active,
	&:hover,
	&:focus {
		text-decoration: none;
		outline: none;
		background-color: shade($color__button-default, 10%);
	}

	@include respond-to('col-lg-max') {
		font-size: 0.875rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	&-lg {
		height: 3.75rem;

		@include respond-to('col-md-max') {
			height: 3rem;
		}
	}

	&-md {
		height: 2.5rem;

		@include respond-to('col-md-max') {
			line-height: 2rem;
			height: 2rem;
		}
	}

	&-mid {
		@include respond-to('col-md-max') {
			height: 30px;
			line-height: 30px;
		}

		@include respond-to('col-sm-max') {
			padding-left: 0.3rem;
			padding-right: 0.3rem;
		}
	}

	&-filter {
		width: 40px;
		height: 40px;
		margin: 0 0 0 5px;
		background-color: $color__site-muted;
		position: relative;

		&::before {
			content: '';
			width: 30px;
			height: 30px;
			background-image: url('../images/icon/filter-fill.png');
			background-size: 30px 30px;
			display: inline-block;
			position: absolute;
			top: 5px;
			left: 5px;
		}

		&:active,
		&:hover {
			background-color: shade($color__site-muted, 20%);
		}
		&.small {
			width: 30px;
			height: 30px;
			&::before {
				top: 0;
				left: 0;
			}
		}
	}

	&-back {
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin-right: 10px;
		padding: 0 !important;
		background-color: $color__site-muted;
		line-height: 0;

		@include respond-to('col-sm-max') {
			margin-right: 5px;
		}

		i {
			font-size: 1.125rem;
		}
	}

	&.button-responsive {
		@include respond-to('col-md-max') {
			height: 30px;
			line-height: 30px;
		}
	}

	&.gray {
		background-color: $color__site-gray;

		&:active,
		&:hover {
			background-color: shade($color__site-gray, 20%);
		}
	}

	&.red {
		background-color: $color__site-red;

		&:active,
		&:hover {
			background-color: shade($color__site-red, 20%);
		}
	}

	&.muted {
		background-color: $color__site-muted;

		&:active,
		&:hover {
			background-color: shade($color__site-muted, 20%);
		}
	}

	&.outline {
		border: 1px solid $color__table-border;
		background-color: $color__site-light-gray;
		color: $color__text-main !important;

		&:active,
		&:hover {
			background-color: shade($color__site-light-gray, 10%);
		}
	}

	&.button-setting,
	&.button-search {
		width: 30px;
		height: 30px;
		display: inline-block;
		overflow: hidden;
		text-indent: -9999px;
		position: relative;
		background-color: transparent;
		padding: 0;

		&::before {
			content: '';
			width: 30px;
			height: 30px;
			background-image: url('../images/icon/mypage.png');
			background-size: 30px 30px;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&.button-search {
		background-color: $color__site-muted;

		&::before {
			background-image: url('../images/icon/search.png');
		}

		&.big {
			width: 40px;
			height: 40px;

			&::before {
				width: 40px;
				height: 40px;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
	}
}

.tag {
	@extend %btn-reset;
	height: 30px;
	font-size: 0.75rem;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	@include border-radius(3px);
	width: auto;
	line-height: 30px;

	@include respond-to('col-md-max') {
		line-height: 24px;
		height: 24px;
		font-size: 0.625rem;
		padding-left: 8px;
		padding-right: 8px;
	}

	&.tag-brand {
		background-color: white;
		border: 1px solid $color__site-light-gray;
		color: $color__site-muted;

		&.h-40 {
			height: 40px;
			line-height: 40px;
		}
	}

	&.tag-live {
		background-color: $color__site-green;
	}
	&.tag-demand {
		color: white;
		background-color: $color__site-mint;
	}
	&.tag-archive {
		color: white;
		background-color: $color__site-dark-gray;
	}

	&.tag-count {
		background-color: $color__site-secondary;
	}

	&.tag-symposium-ing {
		background-color: $color__site-yellow;
	}

	&.tag-symposium-end {
		background-color: $color__site-muted;
	}

	&.tag-end {
		position: relative;
		background-color: $color__site-secondary;
		height: 24px;
		line-height: 24px;
		top: -4px;

		@include respond-to('col-md-max') {
			top: -2px;
			height: 20px;
			line-height: 20px;
		}
	}

	&.tag-status {
		background-color: $color__site-yellow;
	}

	&.tag-icon {
		white-space: nowrap;

		span {
			margin-right: 3px;
			border-right: 1px solid rgba(255, 255, 255, 0.3);

			img {
				width: 18px;
				height: 18px;
				margin-right: 3px;
			}
		}

		em {
			font-style: normal;

			@include respond-to('col-md-max') {
				display: none;
			}

			& ~ span {
				border-color: #f00;
			}
		}

		&.modify {
			background-color: $color__button-gray;
		}

		&.invite {
			background-color: $color__site-mint;
		}

		&.delete {
			background-color: $color__site-red;
		}

		&.gray {
			background-color: $color__site-gray;
		}

		&.yellow {
			background-color: $color__site-yellow;
		}

		&.mobile-sm {
			@include respond-to('col-md-max') {
				margin: 0 3px;

				span {
					border-right: none;
					margin-right: 0;

					img {
						margin-right: 0;
					}
				}
			}
		}
	}

	&.tag-live,
	&.tag-count,
	&.tag-end,
	&.tag-status,
	&.tag-symposium-ing,
	&.tag-symposium-end,
	&.tag-icon {
		color: white;
	}

	&.tag-info {
		cursor: inherit;
		width: 100%;
		background-color: $color__site-muted;
		letter-spacing: normal;
		font-size: 1rem;
		color: black;
		text-align: inherit;
		line-height: 34px;
		height: 34px;
		white-space: nowrap;

		&.ing {
			background-color: $color__site-point-green;
		}

		&.end {
			background-color: $color__site-light-gray;
		}

		@include respond-to('col-md-max') {
			letter-spacing: -0.5px;
			font-size: 0.75rem;
		}
	}
}

.menu-toggle {
	@extend %btn-reset;
	position: relative;
	width: 30px;
	height: 30px;
	background-color: transparent;

	span {
		position: absolute;
		width: 4px;
		height: 4px;
		display: inline-block;
		@include border-radius(100%);
		background-color: $color__site-blue;
		top: 13px;
		left: 13px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 4px;
			height: 4px;
			top: 0;
			left: -8px;
			display: inline-block;
			background-color: $color__site-blue;
			@include border-radius(100%);
		}

		&::after {
			left: 8px;
		}
	}
}
