.card {
	border: none;
	@include box-shadow(0 3px 10px rgba(0, 0, 0, 0.05));
	margin-bottom: 1.5rem;
	height: calc(100% - 1.5rem);

	@include respond-to('col-md-max') {
		margin-bottom: 1rem;
		height: calc(100% - 1rem);
	}

	.card-header,
	.card-footer {
		position: relative;
		padding-left: 1rem;
		padding-right: 1rem;
		background-color: transparent;
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 60px;
		height: 60px;

		.card-info {
			display: flex;
			align-items: center;

			.tag {
				margin: 0 2px;
			}

			.more {
				font-size: 0.75rem;
				color: #d2d2d2;
				text-transform: uppercase;
			}
		}

		.card-tag,
		.card-info {
			flex: 0 0 auto;
		}
	}

	.card-header {
		border-bottom-color: $color__modal-border;

		@include respond-to('col-md-max') {
			line-height: 50px;
			height: 50px;
		}
	}

	.card-footer {
		line-height: 69px;
		height: 70px;
		padding: 0;
		border-top-color: $color__modal-border;

		& > div {
			height: 100%;
			flex: 1 1 auto;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			.button {
				width: auto;
				display: inline-block;
				padding: 0 1.5rem;
				margin: 0 5px;
				height: 50px;
				line-height: 50px;
				white-space: nowrap;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				@include respond-to('col-md-max') {
					padding: 0 1rem;
					margin: 0 2px;
				}
			}
		}

		& > div:nth-child(1) {
			width: 15%;
		}

		& > div:nth-child(2) {
			width: 70%;
			padding-left: 40px;
		}

		& > div:nth-child(3) {
			width: 15%;
		}

		.button-control {
			padding-top: 20px;
			padding-right: 1rem;

			button,
			.button {
				float: right;
			}

			.button-setting {
				padding: 0 15px;
				margin-right: -5px;
				margin-left: 10px;
			}
		}

		.button-setting-wrap {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.button-setting {
				width: calc(30px + 1rem);
				height: 30px;
				padding: 0 1rem 0 0;
			}
		}

		.menu-toggle-wrap {
			position: relative;
			display: inline-block;
			margin-left: 5px;
			display: flex;
			align-items: center;
		}

		@include respond-to('col-md-max') {
			height: 60px;
			line-height: 59px;

			& > div {
				.button {
					line-height: 40px;
					height: 40px;
				}
			}

			.button-control {
				padding-top: 15px;
			}
		}
	}

	.card-body {
		padding: 1rem;
		position: relative;
		min-height: 100px;
		.card-body-title {
			color: $color__site-primary;
			margin-top: 0.8rem;
			letter-spacing: -1px;

			@include respond-to('col-md-max') {
				a {
					font-size: 0.937rem;
				}
			}

			a {
				color: $color__site-primary;
				text-decoration: none;
			}
		}

		.board {
			.card-date {
				opacity: 0.5;
			}
		}
		.card-body-align-center {
			@include vertical-align-mid-absolute(50%);
			word-break: keep-all;
			width: calc(100% - 2rem);
			text-align: center;
		}
	}

	.card-title {
		margin-bottom: 0;
		position: relative;
		top: 2px;

		@include respond-to('col-md-max') {
			font-size: 1rem;
		}
	}

	.more-menu {
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		position: absolute;
		right: 0;
		top: 50px;
		background-color: white;
		overflow: hidden;
		@include border-radius(3px);
		@include box-shadow(0 3px 10px rgba(0, 0, 0, 0.05));

		@include respond-to('col-md-max') {
			top: 46px;
		}

		ul {
			line-height: 1.6;

			li {
				border-bottom: 1px solid $color__modal-border;

				&:last-child {
					border-bottom: none;
				}

				a {
					display: inline-block;
					padding: 0.825rem 1.25rem;
					position: relative;
					width: 100%;
					text-decoration: none;
					white-space: nowrap;
					text-align: center;

					&:active,
					&:hover,
					&:focus {
						background-color: $color__site-blue;
						color: white;
					}
				}
			}
		}

		&.toggled {
			opacity: 1;
			z-index: 1;
			visibility: visible;
		}
	}
}

.box-wrap {
	background-color: white;
	@include box-shadow(0 3px 10px rgba(0, 0, 0, 0.05));
	@include border-radius(3px);
	margin-bottom: 1.5rem;
}

.form-template-wrap {
	.box-template-wrap {
		background-color: $color__site-light-gray;
		border: 1px solid $color__form-border;
		@include border-radius(3px);
		height: 350px;
		padding: 5px 0 0 10px;
	}

	textarea {
		font-size: 87.5%;
		height: 350px;
		line-height: 1.4;
	}
}
