.ui-datepicker {
    width: 13rem;
    @include box-shadow(0 3px 8px rgba(0, 0, 0, 0.1));

    th {
        padding: 0.5rem 0.2rem 0.1rem;
        font-weight: 500;
    }

    td {
        a {
            position: relative;
            text-align: center;
        }

        &.ui-datepicker-week-end {
            a {
                color: $color__site-red;
            }
        }
    }

    tr {
        td:last-child * {
            color: $color__site-blue;
        }
    }

    table {
        font-size: 0.875rem;

        a {
            padding: 0.1rem;
        }
    }
}

.ui-state-default,
.ui-widget-content {
    .ui-state-default {
        background-color: transparent;
        border: none;
    }
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    color: rgba(0, 0, 0, 0.5);
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    color: black;

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        width: 18px;
        height: 18px;
        background-color: $color__site-point-green;
        @include border-radius(100%);
        left: 50%;
        @include transform(translateX(-50%));
    }
}

.ui-widget-header {
    background-color: white;
    border: none;
}

.ui-widget.ui-widget-content {
    border: 1px solid $color__form-border;
}

.ui-datepicker .ui-datepicker-header {
    padding-bottom: 0;
}

.ui-datepicker select {
    height: 30px;
    border: 1px solid $color__form-border;
    @include border-radius(2px);
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 0.875rem;
    font-weight: 400;
}

.ui-datepicker select.ui-datepicker-year {
    width: 50%;
}

.ui-datepicker select.ui-datepicker-month {
    width: 35%;
    margin-left: 5px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2rem;
}

.ui-datepicker-calendar {
    line-height: 1.4;
}

.ui-icon {
    width: 20px;
    height: 20px;
}

.ui-widget-header .ui-icon {
    background-image: none;
    opacity: 0.5;

    &:active,
    &:hover {
        opacity: 1;
    }
}

.ui-widget-header .ui-datepicker-next .ui-icon {
    &::before {
        content: '\e802';
        font-family: $font__fontello;
        text-indent: 0;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
    }
}

.ui-widget-header .ui-datepicker-prev .ui-icon {
    &::before {
        content: '\e803';
        font-family: $font__fontello;
        text-indent: 0;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
    }
}


.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: none;
    background-color: transparent;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 2px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    margin-left: 0;
    margin-top: -8px;
}