html,
body {
    // position: relative;
    // overflow-x: hidden;
    // height: 100%;
    // overflow-y: scroll;
    background-color: $color__site-bg;
    -webkit-overflow-scrolling: touch;
}

body {
    background-color: $color__site-bg;
}

img[src*=".svg"] {
    width: 100%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color__text-placeholder !important;
    font-size: 0.875rem;
    opacity: 1;
    vertical-align: middle;

    @include respond-to('col-md-max') {
        font-size: 0.75rem;
    }
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color__text-placeholder !important;
    font-size: 0.875rem;
    vertical-align: middle;

    @include respond-to('col-md-max') {
        font-size: 0.75rem;
    }
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color__text-placeholder !important;
    font-size: 0.875rem;
    vertical-align: middle;

    @include respond-to('col-md-max') {
        font-size: 0.75rem;
    }
}