.export-wrap {
    background-color: white;
    padding: 15px 10px;
    @include border-radius(3px);
    display: flex;
    align-items: center;
    line-height: 0;

    .title {
        margin-bottom: 0;
    }

    @include respond-to('col-md-max') {
        padding: 10px;
    }
}

.export-select-wrap {
    .custom-select {
        font-size: 0.75rem;
        height: 40px;
    }

    @include respond-to('col-md-max') {
        display: none;
    }
}

.filter-wrap {
    background-color: white;
    padding: 10px;
    @include border-radius(3px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>div>div,
    &>div>select {
        float: left;
    }

    .box-round {
        background-color: $color__site-light-gray;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        @include border-radius(3px);

        .box-title {
            display: inline-block;
            margin-bottom: 0;
            padding-right: 8px;
            margin-right: 3px;
            border-right: 1px solid white;
            font-size: 1.125rem;

            @include respond-to('col-md-max') {
                font-size: 0.875rem;
            }
        }
    }

    .custom-select {
        height: 40px;
        line-height: 1.8;
        background-color: $color__site-light-gray;
        border-color: $color__site-light-gray;

        &.white-mode {
            background-color: white;
            border-color: $color__form-border;
        }

        @include respond-to('col-md-max') {
            font-size: 0.875rem;
        }
    }

    .search-wrap {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        .input-group {
            flex-wrap: nowrap;
        }

        .form-control {
            width: 140px;

            &.form-responsive {
                @include respond-to('col-md-max') {
                    width: 120px;
                }

                @include respond-to('col-sm-max') {
                    width: 70px;
                    padding-left: 0.2rem;
                    padding-right: 0.2rem;
                }
            }
        }
    }

    .button-filter {
        display: none;
    }

    @include respond-to('col-xl-max') {

        align-items: flex-end;

        &>div>div,
        &>div>select {
            float: inherit;
        }

        em {
            padding: 2px;
            display: block;
        }

        .select-wrap {
            .custom-select {
                &:first-child {
                    margin-left: 0 !important;
                }
            }
        }
    }

    &.md-column,
    &.md-row {
        @include respond-to('col-md-max') {
            &>div {
                flex: 0 1 auto;
                width: 100%;
                margin-top: 5px;
            }

            &>div:first-child {
                margin-top: 0;
            }

            flex-flow: column;
            align-items: center;

            .search-wrap {
                margin-top: 0;
            }

            .input-group {
                width: 100%;
            }
        }
    }

    &.md-row {
        flex-flow: row;
    }

    @include respond-to('col-sm-max') {
        &>div {
            flex: 0 1 auto;
            width: 100%;
        }

        flex-flow: column;
        align-items: center;

        .select-wrap {
            display: flex;

            .custom-select {
                flex: 1 0 auto;

                &:last-child {
                    margin-left: 5px !important;
                }
            }
        }

        .search-wrap {
            margin-top: 4px;
            width: 100%;
        }
    }

    .drawer-wrap {
        display: block;
    }

    &.filter-type {
        @include respond-to('col-sm-max') {
            flex-flow: column-reverse;

            .search-wrap {
                margin-bottom: 4px;
            }

            .drawer-wrap {
                display: none;
            }

            .button-filter {
                display: inline-block;
            }
        }

        &.toggled {
            .drawer-wrap {
                display: block;
            }
        }
    }

    &.filter-type-1 {
        @include respond-to('col-sm-max') {
            .button-filter {
                display: inline-block;
            }
        }
    }

    &.xl-column {
        @include respond-to('col-xl-max') {
            &>div {
                flex: 0 1 auto;
                width: 100%;
                margin-top: 5px;
            }

            &>div:first-child {
                margin-top: 0;
            }

            flex-flow: column;
            align-items: center;
        }
    }

    .md-hidden {
        display: block;

        @include respond-to('col-md-max') {
            display: none;

            &.toggled {
                display: block;
            }
        }
    }

    .sm-hidden {
        display: block;

        @include respond-to('col-sm-max') {
            display: none;

            &.toggled {
                display: block;
            }
        }
    }
}

.mobile-toggle-wrap {
    @include respond-to('col-sm-max') {
        display: none;
        visibility: hidden;
    }

    &.toggled {
        display: block;
        visibility: visible;
    }
}