label {
    margin-bottom: 0.15rem;

    @include respond-to('col-md-max') {
        font-size: 0.75rem;
    }
}

label.radio {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer;

    input[type='radio'] {
        position: absolute;
        cursor: pointer;
        opacity: 0;
        display: none;
    }

    span {
        position: relative;
        width: 16px;
        height: 16px;
        flex: 0 0 16px;
        display: inline-block;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        @include border-radius(100px);
        margin-right: 5px;
        margin-left: 5px;

        &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            display: inline-block;
            top: 4px;
            left: 4px;
            background-color: white;
            opacity: 0;
            @include border-radius(100px);
            @include transition(all 0.2s ease);
        }
    }

    input:checked {
        &~span {
            background-color: $color__site-primary;
            border-color: $color__site-primary;

            &::before {
                background-color: white;
                opacity: 1;
            }
        }
    }
}

.form-control {
    height: 2.5rem;
    outline: none;
    border-color: $color__form-border;
    // border: none;

    &.form-control-lg {
        font-size: 1rem;
        height: 3.75rem;

        @include respond-to('col-md-max') {
            height: 3rem;

            &::placeholder {
                line-height: 2.1;
            }

            &:-ms-input-placeholder {
                line-height: 2.1;
            }

            &::-ms-input-placeholder {
                line-height: 2.1;
            }
        }
    }

    @include respond-to('col-md-max') {
        font-size: 0.75rem;
    }
}

label.checkbox {
    position: relative;

    input[type='checkbox'] {
        position: absolute;
        cursor: pointer;
        opacity: 0;
        display: none;
    }

    span {
        position: relative;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        top: 0.2rem;

        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 1rem;
            height: 1rem;
            border: 1px solid #cccccc;
            background-color: white;
            pointer-events: none;
            @include border-radius(3px);
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            display: block;
            width: 1rem;
            height: 1rem;
            left: 0;
            background: no-repeat 50%/50% 50%;
        }
    }

    input:checked {
        &~span {
            &::before {
                background-color: $color__site-blue;
            }

            &::after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            }
        }
    }
}

.custom-checkbox {
    position: absolute;
    left: -33333px;
    visibility: hidden;
    opacity: 0;

    &~label {
        position: relative;
        margin-bottom: 0;
        padding-left: 25px;

        &::before {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            width: 1rem;
            height: 1rem;
            top: 0.15rem;
            border: 1px solid #cccccc;
            background-color: white;
            pointer-events: none;
            @include border-radius(3px);
        }

        &::after {
            content: '';
            position: absolute;
            top: 0.1rem;
            display: block;
            width: 1rem;
            height: 1rem;
            left: 0;
            background: no-repeat 50%/50% 50%;
        }

        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }

    &:checked {
        &~label {
            &::before {
                color: white;
                border-color: shade($color__form-blue, 5%);
                background-color: $color__form-blue;
            }

            &::after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            }
        }
    }

    &[disabled] {
        &~label {
            opacity: 0.7;

            &::before {
                border-color: shade($color__site-muted, 5%);
                background-color: $color__site-muted;
            }
        }
    }

    @include respond-to('col-md-max') {
        &~label {
            padding-left: 20px;

            &::before,
            &::after {
                width: 0.875rem;
                height: 0.875rem;
                top: 0;
            }
        }
    }
}

.switch {
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color__site-muted;
        @include border-radius(30px);
        @include transition(all 0.4s ease);

        &::before {
            content: '';
            position: absolute;
            width: 26px;
            height: 26px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            @include border-radius(100%);
            @include transition(all 0.4s ease);
        }

        &::after {
            content: 'OFF';
            font-size: 0.625rem;
            position: absolute;
            top: 11px;
            right: 36px;
            font-weight: 500;
            color: $color__site-muted;
            line-height: 1;
            @include transition(all 0.4s ease);
        }
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.slider {
            background-color: $color__button-default;

            &::before {
                @include transform(translateX(30px));
            }

            &::after {
                content: 'ON';
                right: 7px;
                color: $color__button-default;
            }
        }
    }

    @include respond-to('col-md-max') {
        width: 38px;
        height: 24px;

        .slider {
            &::before {
                width: 20px;
                height: 20px;
            }

            &::after {
                top: 8px;
                right: 18px;
            }
        }

        input {
            &:checked+.slider {
                &::before {
                    @include transform(translateX(14px));
                }

                &::after {
                    right: 6px;
                }
            }
        }
    }
}

.input-date {
    background-color: transparent;
    border: none;
    outline: none;
    letter-spacing: normal;
    font-weight: 400;
    width: 95px;
    text-align: center;
    padding: 8px 0;
}

.ui-datepicker-trigger {
    width: 16px !important;
    height: 16px;
    cursor: pointer;
    margin-top: -4px;
}

.div-date-border {
    border: 1px solid $color__form-border;
    height: 40px;
    padding: 0 10px;
    @include border-radius(3px);
}

.date-wrap {
    display: flex;
    align-items: center;

    .box-round {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        border: 1px solid $color__form-border;
        @include border-radius(3px);

        .box-title {
            display: inline-block;
            margin-bottom: 0;
            padding-right: 8px;
            margin-right: 3px;
            border-right: 1px solid $color__site-light-gray;
            font-size: 1rem;
            white-space: nowrap;
            line-height: 0;

            @include respond-to('col-md-max') {
                padding-right: 4px;
                font-size: 0.875rem;
            }
        }

        .div-date {
            display: flex;
            align-items: center;

            .input-date {
                @include respond-to('col-md-max') {
                    font-size: 0.875rem;
                    width: 85px;
                }
            }
        }
    }
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    &+label {
        cursor: pointer;
        font-size: 0.875rem;
        font-weight: 500;
        color: black;
        width: calc(100% - 40px);
        height: 40px;
        overflow: hidden;
        background-color: white;
        display: inline-block;
        padding: 0.6rem 1rem;
        letter-spacing: normal;
        border: 1px solid $color__form-border;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include border-left-radius(3px);

        &+button {
            float: right;
            @include border-left-radius(0);

            &.button {
                width: 40px;
                height: 40px;
                position: relative;

                &-empty {
                    background-color: $color__site-muted;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        top: 10px;
                        left: 10px;
                        background-image: url('../images/icon/delete.png');
                        background-size: 20px 20px;
                    }
                }
            }
        }
    }
}

.input-group-prepend {
    .custom-select {
        background-color: #D5D7DB;
        border-color: #D5D7DB;
        @include border-right-radius(0);
        height: 40px;
    }

    &+.form-control {
        border-left-color: transparent;
        height: 40px;
    }

    &+.custom-select {
        height: 40px;
    }

    .prepend-title {
        height: 40px;
        background-color: #D5D7DB;
        border-color: #D5D7DB;
        @include border-left-radius(3px);
        padding: 0 10px;
        display: flex;
        align-items: center;

        @include respond-to('col-md-max') {
            font-size: 0.875rem;
        }

        &.blue {
            color: white;
            background-color: $color__site-primary;
        }
    }
}

.input-group-append {
    .btn {
        height: 40px;
        background-color: $color__site-gray;
        white-space: nowrap;

        @include respond-to('col-md-max') {
            font-size: 0.875rem;
        }
    }
}