.body-main {
    .page {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: stretch;
        overflow: hidden;

        .wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: stretch;

            .sidebar {
                min-width: 250px;
                max-width: 250px;
                background-color: $color__site-blue;
                @include transition(margin-left 0.4s ease-in-out, left 0.4s ease-in-out);

                // @include respond-to('col-lg-max') {
                //     margin-left: -250px;
                // }

                @media (max-width: 991.98px) and (min-width: 1px) {
                    margin-left: -250px;
                }

                &.toggled {
                    margin-left: -250px;

                    @include respond-to('col-lg-max') {
                        margin-left: 0;
                    }

                    &+.main {
                        min-width: 100vw;
                    }
                }

                .sidebar-nav {
                    position: fixed;
                    width: 250px;

                    @include respond-to('col-lg-max') {
                        position: inherit;
                    }

                    .item {
                        line-height: 0;

                        .link {
                            opacity: .4;
                            color: white;
                            line-height: 52px;
                            padding-left: 25px;
                            width: 100%;
                            display: inline-block;
                            height: 50px;
                            overflow: hidden;
                            text-decoration: none;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                            @include transition(opacity 0.3s ease);

                            img {
                                position: relative;
                                top: -2px;
                                width: 30px;
                                height: 30px;
                                opacity: .6;
                                margin-right: 10px;
                            }

                            &:active,
                            &:hover {
                                opacity: .9;

                                img {
                                    opacity: 1;
                                }
                            }
                        }

                        &.active {
                            .link {
                                opacity: 1;
                                background-color: rgba(0, 0, 0, 0.1);
                                border-bottom-color: transparent;

                                img {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .button {
                        margin-left: 1rem;
                        margin-right: 1rem;
                        width: calc(100% - 2rem);
                        margin-top: 1rem;
                        background-color: $color__site-primary;

                        &:active,
                        &:hover {
                            background-color: shade($color__site-primary, 20);
                        }
                    }
                }
            }

            .main {
                padding: 0 1.5rem;
                display: block;
                width: 100%;
                min-height: 100vh;
                min-width: 0;
                @include transition(margin-left 0.4s ease-in-out, left 0.4s ease-in-out);

                @include respond-to('col-md-max') {
                    overflow-y: hidden;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                nav[aria-label="breadcrumb"] {
                    background-color: white;
                    height: $size__breadcrumb-height;
                    line-height: $size__breadcrumb-height;
                    margin-left: -1.5rem;
                    margin-right: -1.5rem;
                    padding-left: 1.5rem;
                    display: flex;
                    align-items: center;

                    .title {
                        display: inline-block;
                        margin-bottom: 0;
                        position: relative;
                        // top: 2px;
                        margin-left: 1rem;
                    }

                    @include respond-to('col-md-max') {
                        margin-left: -1rem;
                        margin-right: -1rem;
                        padding-left: 1rem;
                        width: 100vw;
                        max-width: 100vw;
                        height: $size__breadcrumb-height-mobile;

                        .title {
                            font-size: 1.125rem;
                            margin-left: 0;
                        }

                        .sidebar-toggle {
                            display: none;
                        }
                    }
                }

                .section {
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                    min-height: calc(100% - #{$size__footer-height} - #{$size__breadcrumb-height});

                    @include respond-to('col-md-max') {
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        width: calc(100vw - 2rem);
                        max-width: calc(100vw - 2rem);
                        min-height: calc(100% - #{$size__footer-height} - #{$size__breadcrumb-height-mobile});
                        // min-height: auto;
                    }
                }

                footer {
                    &.footer {
                        display: flex;
                        align-items: center;
                        height: 100px;
                        color: rgba(255, 255, 255, 0.5);
                        background-color: $color__site-secondary;
                        margin-left: -1.5rem;
                        margin-right: -1.5rem;
                        padding: 0 0.5rem;
                        line-height: 1.6;

                        a {
                            color: rgba(255, 255, 255, 0.5);
                        }

                        @include respond-to('col-md-max') {
                            width: 100vw;
                            max-width: 100vw;
                            margin-left: -1rem;
                            margin-right: -1rem;
                        }
                    }
                }
            }

            .sidebar,
            .main {
                padding-top: $size__navbar-height;

                @include respond-to('col-md-max') {
                    padding-top: $size__navbar-height-mobile;
                }
            }
        }
    }

    &.has-slick {
        .wrapper {
            .main {
                .section {
                    min-height: calc(100% - #{$size__footer-height} - #{$size__breadcrumb-height} - 84px);

                    @include respond-to('col-md-max') {
                        min-height: calc(100% - #{$size__footer-height} - #{$size__breadcrumb-height} - 44px);
                    }
                }
            }
        }
    }
}

.sidebar-toggle {
    @extend %btn-reset;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: $color__site-blue;
    @include border-radius(3px);

    span {
        position: relative;
        width: 18px;
        height: 2px;
        background-color: white;
        display: inline-block;
        @include border-radius(2px);
        margin-left: 6px;
        top: -2px;
        opacity: 0.5;

        &::before,
        &::after {
            content: '';
            width: 18px;
            height: 2px;
            background-color: white;
            display: inline-block;
            position: absolute;
            @include border-radius(2px);
            top: -6px;
        }

        &::after {
            top: 6px;
        }
    }

    &:active,
    &:hover {
        span {
            opacity: 1;
        }
    }
}

.navbar {
    padding: 0;
    height: $size__navbar-height;
    background-color: white;
    border-bottom: 1px solid #caced3;

    .navbar-brand {
        width: 250px;
        padding: 0;
        margin: 0;

        img {
            width: 102px;
            height: 50px;
            margin: 0 auto;
            display: block;
        }
    }

    .sidebar-toggle {
        display: none;
    }

    .navbar-info {
        margin-right: 15px;
        display: flex;
        align-items: center;

        .button-setting {
            @include filter(grayscale, 100%);
            margin-left: 5px;
        }

        @include respond-to('col-md-max') {
            top: 10px;
        }
    }

    @include respond-to('col-md-max') {
        height: $size__navbar-height-mobile;

        .navbar-brand {
            height: $size__navbar-height-mobile;
            position: absolute;
            width: inherit;
            top: 0;
            left: 50%;
            @include transform(translateX(-50%));

            a {
                display: inline-block;

                img {
                    margin-top: 10px;
                    width: 62px;
                    height: 30px;
                }
            }
        }

        .navbar-info {
            position: absolute;
            right: 0;
            margin-right: 10px;
        }

        .sidebar-toggle {
            position: absolute;
            display: inline-block;
            left: 1rem;
            top: 10px;
        }
    }
}