.body-align-center-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;

	.page {
		width: 100%;
	}
}

strong {
	font-weight: 500;
}

.opacity-50 {
	@include opacity(0.5);
}

p,
a {
	&.small {
		font-size: 0.875rem;

		@include respond-to('col-md-max') {
			font-size: 0.75rem;
		}
	}

	@include respond-to('col-md-max') {
		font-size: 0.875rem;
	}

	&.no-underline {
		text-decoration: none;
	}

	&.outline-none {
		outline: none;
	}
}

.symposium-title {
	color: $color__site-primary;
	margin: 1rem 0;
}

.small-date {
	opacity: 1;
	color: #4a4a4a;

	@include respond-to('col-md-max') {
		display: block;
	}

	em {
		margin: 0 4px;
		font-style: normal;

		@include respond-to('col-md-max') {
			display: block;
			height: 0;
			font-size: 0;
			opacity: 0;
		}
	}
}

.font-color-blue {
	color: $color__site-blue;
}

.font-color-red {
	color: $color__site-red;
}

.font-color-gray {
	color: $color__site-dark-gray;
}

.font-weight-normal {
	font-weight: normal;
}

.mt-10px {
	margin-top: 10px;
}

.letter-spacing-1 {
	letter-spacing: -1px;
}

.line-height-0 {
	line-height: 0;
}

img {
	&.arrow {
		margin-left: 5px;
		width: 14px;
		height: auto;

		@include respond-to('col-md-max') {
			margin-left: 2px;
			width: 10px;
			height: auto;
		}
	}
}

.passcode-wrap {
	span {
		width: 26px;
		height: 26px;
		border: 1px solid $color__form-border;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		@include border-radius(3px);
		font-size: 0.875rem;

		&.gray {
			background-color: $color__site-gray;
		}
	}
}

.star {
	width: 16px;
	height: 16px;
	display: inline-block;

	&::before {
		content: '\e804';
		width: 16px;
		height: 16px;
		font-family: $font__fontello;
	}

	&.fill {
		color: $color__site-yellow;

		&::before {
			content: '\e805';
		}
	}
}

.div-disabled {
	opacity: 0.5;
}

.div-button-wrap {
	display: flex;
	justify-content: space-between;
}

.div-scroll-y {
	border: 1px solid $color__table-border;
	@include border-radius(3px);
	overflow-y: auto;
	padding: 0.5rem;
}

.div-toggle {
	&.toggled {
		display: none;
	}
}

.cursor-pointer {
	cursor: pointer;
}

hr {
	&.bar {
		border-width: 5px;
		border-color: $color__site-primary;
	}
}

.text-overflow-ellipsis {
	display: inline-block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px !important;
	padding-right: 5px !important;
}
