.body-guide {
    // font-family: $font__eng;
    // letter-spacing: normal;
    overflow-x: hidden;

    .strong {
        font-weight: 600;
    }

    .guide-title {
        font-size: 2rem;
    }

    .guide-sub-title {
        font-size: 1.5rem;
        color: $color__site-primary;
        margin-bottom: 0.3rem;
    }

    a {
        color: $color__site-blue;
        text-decoration: underline;
    }

    .color-box {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        border: 1px solid $color__site-light-gray;
        border: 1px solid #666;
        @include border-radius(100%);
    }

    .pre {
        margin-bottom: 1.5rem;
    }
}