ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;

    &.ul-nav {
        display: flex;
        text-align: center;

        li {
            flex: 1 0 auto;

            a {
                text-decoration: none;
            }
        }
    }

    &.ul-inline {
        display: flex;
        flex-flow: wrap;

        li {
            flex: 1 0 auto;
            border-left: 1px solid $color__modal-border;
            padding-left: 1rem;

            &:first-child {
                border-left: none;
                padding-left: 0;
            }
        }
    }

    &.ul-tab {
        display: flex;
        flex-flow: row;
        align-items: center;
        background-color: $color__site-light-gray;
        overflow: hidden;
        @include border-radius(3px);

        li {
            flex: 1 0 0;
            border-left: 1px solid white;

            &:first-child {
                border-left: none;
            }

            a {
                display: inline-block;
                height: 40px;
                line-height: 40px;
                padding: 0 8px;
                text-decoration: none;
                width: 100%;
                text-align: center;
                white-space: nowrap;
                min-width: 50px;

                @include respond-to('col-md-max') {
                    padding: 0 5px;
                    height: 34px;
                    line-height: 34px;
                }

                @include respond-to('col-sm-max') {
                    padding: 0;
                }
            }

            &.active {
                a {
                    background-color: $color__site-blue;
                    color: white;
                }
            }
        }
    }

    &.ul-demo-icon {
        li {
            padding: 0.2rem 0;

            i {
                margin-right: 10px;
                opacity: 0.5;
            }
        }
    }

    &.ul-icon {
        display: flex;
        margin-top: 1rem;

        li {
            flex: 1 1 0;
            flex-grow: 1;

            a {
                text-decoration: none;
            }

            dl {
                border: 1px solid $color__modal-border;
                background-color: white;
                margin: 0 5px;
                display: flex;
                @include border-radius(3px);
                align-items: center;
                height: 60px;
                line-height: 60px;

                @include respond-to('col-sm-max') {
                    margin: 0 2px;
                }

                dt {
                    display: flex;
                    flex-flow: row;
                    padding: 10px 15px;
                    justify-content: center;
                    align-items: center;
                    font-weight: 300;
                    font-size: 1.25rem;

                    figure {
                        margin-bottom: 0;

                        img {
                            width: 50px;
                            margin-right: 0.3rem;
                        }
                    }
                }

                dd {
                    font-size: 2.5rem;
                    font-weight: 500;
                    margin-bottom: 0;
                    text-align: right;
                    padding-right: 1rem;
                    text-align: center;
                }

                dt,
                dd {
                    flex: 1 1 auto;
                    white-space: nowrap;

                    @include respond-to('col-md-max') {
                        padding: 0 5px;
                    }
                }
            }

            &:first-child {
                dl {
                    margin-left: 0;
                }
            }

            &:last-child {
                dl {
                    margin-right: 0;
                }
            }
        }

        @include respond-to('col-md-max') {
            li {
                dl {
                    dt {
                        font-size: 1rem;

                        figure {
                            display: none;
                        }
                    }

                    dd {
                        font-size: 2.25rem;
                    }
                }
            }
        }


        @include respond-to('col-sm-max') {
            li {
                dl {
                    dt {
                        font-size: 0.625rem;

                        figure {
                            display: none;
                        }
                    }

                    dd {
                        font-size: 1.8rem;
                    }
                }
            }
        }

        &.no-icon {
            figure {
                display: none;
            }
        }

        &.divide {
            dl {
                display: flex;
                flex-flow: column;
                height: auto;
                line-height: 1.8;

                dt,
                dd {
                    flex: 0 0 auto;
                    padding: 0;
                    margin: 0;
                }

                dt {
                    padding-top: 0.3rem;
                    font-size: 1.125rem;
                }

                dd {
                    font-size: 1.5rem;
                }

                @include respond-to('col-md-max') {
                    dl {
                        margin: 0 3px;
                    }

                    dt {
                        font-size: 1rem;
                    }

                    dd {
                        font-size: 1.125rem;
                    }
                }

                @include respond-to('col-sm-max') {
                    dl {
                        margin: 0 1px;
                    }

                    dt {
                        font-size: 0.625rem;
                    }

                    dd {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    &.ul-table {
        text-align: center;
        background-color: transparent;
        border-top: 1px solid $color__table-border;
        border-left: 1px solid $color__table-border;
        border-right: 1px solid $color__table-border;
        white-space: nowrap;

        li {
            ul {
                &.ul-table-head {
                    color: black;
                    font-weight: 500;
                }

                &.ul-table-head,
                &.ul-table-body {
                    display: flex;

                    li {
                        padding: 0.5rem 0;
                        flex: 1 0 0;
                        border-bottom: 1px solid $color__table-default-border;
                    }
                }
            }
        }

        @include respond-to('col-lg-max') {
            font-size: 0.875rem;
        }

        @include respond-to('col-md-max') {
            font-size: 0.75rem;
        }
    }

    &.ul-click {
        cursor: pointer;
    }

    &.ul-info {
        text-align: left;
        // border-top: 1px solid $color__table-border;
        display: flex;
        flex-flow: row;

        @include respond-to('col-sm-max') {
            flex-flow: column;
        }

        h5 {
            font-size: 1.125rem;
            color: $color__site-primary;

            @include respond-to('col-md-max') {
                font-size: 1rem;
            }

            @include respond-to('col-sm-max') {
                font-size: 0.875rem;
            }

        }

        &>li {
            flex: 1 0 0;
            padding: 1rem;
            margin-left: 1rem;

            dl {
                display: flex;
                flex-flow: wrap;
                margin-bottom: 0;

                dt {
                    font-weight: 400;
                    width: 160px;
                    opacity: 0.5;
                }

                dd {
                    width: calc(100% - 160px);
                }

                dt,
                dd {
                    flex: 1 0 1;
                }

                @include respond-to('col-md-max') {
                    dt {
                        width: 120px;
                    }

                    dd {
                        width: calc(100% - 120px);
                    }
                }
            }

            &:first-child {
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    width: 1px;
                    right: 0;
                    top: 20px;
                    bottom: 20px;
                    display: inline-block;
                    background-color: $color__table-default-border;
                    // border-right: 1px solid $color__table-default-border;

                    @include respond-to('col-sm-max') {
                        width: calc(100% - 1rem);
                        bottom: 1px;
                        top: inherit;
                        left: 0;
                        height: 1px;
                    }
                }
            }
        }

        &.line-no {
            &>li {
                &:first-child {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        &.noline {
            &>li {
                &:first-child {
                    &::before {
                        display: none;
                    }
                }

                dl {
                    dt {
                        width: 100px;
                    }

                    dd {
                        width: calc(100% - 100px);
                    }
                }

                @include respond-to('col-md-max') {
                    dl {
                        dt {
                            width: 70px;
                        }

                        dd {
                            width: calc(100% - 70px);
                        }
                    }
                }
            }
        }
    }

    &.ul-step {
        display: flex;
        margin-bottom: 10px;
        border: 1px solid $color__table-border;
        @include border-radius(50px);
        overflow: hidden;

        li {
            position: relative;
            flex: 1 0 auto;
            height: 40px;
            line-height: 40px;
            text-align: center;

            &::before,
            &::after {
                content: '';
                position: absolute;
                display: inline-block;
                width: 10px;
                border-left: 10px solid $color__table-border;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                right: -10px;
                z-index: 10;
            }

            &::after {
                border-left-color: white;
                right: -9px;
            }

            @include respond-to('col-md-max') {
                span {
                    display: none;
                }
            }

            &.pre {
                background-color: $color__site-gray;

                &::before {
                    border-left-color: white;
                }

                &::after {
                    border-left-color: $color__site-gray;
                }
            }

            &.active {
                span {
                    display: inline-block;
                }

                color: white;
                background-color: $color__site-primary;

                &::before,
                &::after {
                    border-left-color: $color__site-primary;
                }
            }
        }
    }

    &.ul-check {
        li {
            padding: 1px;

            a {
                display: inline-block;
                padding: 0.2rem 0;
                width: 100%;
                outline: none;
            }

            &.on {
                a {
                    background-color: $color__site-light-gray;
                }
            }
        }
    }

    &.ul-board {
        border-top: 1px solid $color__site-light-gray;

        li {
            font-size: 0.875rem;

            @include respond-to('col-md-max') {
                font-size: 0.75rem;
            }

            @include respond-to('col-sm-max') {
                font-size: 0.625rem;
            }

            span {
                width: 15%;
                display: inline-block;
                text-align: center;
                font-weight: 500;
                background-color: $color__site-light-gray;
                margin-right: 0.5rem;
                padding: 0.4rem 0;
            }

            border-bottom: 1px solid $color__site-light-gray;
        }
    }
}

dl {
    &.dl-table {
        display: flex;
        flex-flow: wrap;

        dt,
        dd {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 0;
            flex: 0 1 auto;
            line-height: 1.7;
        }

        dt {
            width: 100px;
            font-weight: 500;
        }

        dd {
            position: relative;
            width: calc(100% - 100px);
            margin-left: auto;
            padding-left: 10px;

            &::before {
                content: '';
                position: absolute;
                display: inline-block;
                width: 1px;
                height: 60%;
                background-color: $color__site-gray;
                left: 0;
                top: 20%;
            }
        }

        @include respond-to('col-md-max') {

            dt,
            dd {
                font-size: 0.875rem;
            }

            dt {
                width: 80px;
            }

            dd {
                width: calc(100% - 80px);
            }
        }
    }

    &.dl-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: wrap;

        dt,
        dd {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 0;
            flex: 0 1 auto;
        }

        dl {
            font-weight: 500;
        }
    }

    &.dl-info {
        display: flex;
        flex-flow: wrap;
        margin-bottom: 0;

        dt {
            font-weight: 500;
            width: 160px;
        }

        dd {
            width: calc(100% - 160px);
        }

        @include respond-to('col-md-max') {
            font-size: 0.875rem;

            dt {
                width: 120px;
            }

            dd {
                width: calc(100% - 120px);
            }
        }
    }

    &.board {
        dt {
            width: 120px;

            .tag {
                width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        dd {
            width: calc(100% - 120px);
            padding: 0.3rem 0;
            margin-bottom: 0.3rem;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                display: block;
                margin-bottom: 0.3rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        @include respond-to('col-md-max') {
            dt {
                width: 80px;

                .tag {
                    width: 70px;
                }
            }

            dd {
                width: calc(100% - 80px);

                a {
                    margin-bottom: 0;
                }
            }
        }
    }
}

ol {
    padding-left: 1rem;

    li {
        font-size: 1rem;

        @include respond-to('col-md-max') {
            font-size: 0.875rem;
        }

        @include respond-to('col-sm-max') {}
    }
}

.tabList {
    ul {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;

        display: flex;
        text-align: center;

        .item {
            flex: 1 0 auto;

            .link {
                position: relative;
                font-size: 1.25rem;
                color: rgba(255, 255, 255, 0.5);
                border-bottom: 2px solid rgba(255, 255, 255, 0.1);
                width: 100%;
                display: inline-block;
                line-height: 50px;
                text-decoration: none;
                outline: none;
                opacity: 1;

                &:active,
                &:hover {
                    color: rgba(255, 255, 255, 1);
                }

                @include respond-to('col-md-max') {
                    font-size: 1rem;
                }
            }

            &.on {
                .link {
                    color: rgba(255, 255, 255, 1);

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 6px;
                        background-color: white;
                        left: 0;
                        bottom: -2px;
                    }
                }
            }
        }
    }
}

.tabView {
    ul {
        li {
            display: none;
        }
    }
}

.div-tab-warp {
    background-color: white;

    @include respond-to('col-md-max') {
        position: relative;
        border-top: 1px solid $color__site-light-gray;
        margin-left: -1rem;
        margin-right: -1rem;
        margin-top: -1rem;
    }

    ul {
        display: flex;

        .item {
            flex: 1 0 0;
            flex: 1;
            border-left: 1px solid $color__site-light-gray;

            &:first-child {
                border-left: none;
            }

            .link {
                position: relative;
                text-align: center;
                display: inline-block;
                font-size: 1.125rem;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.4);
                text-decoration: none;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 6px;
                    bottom: 0;
                    left: 0;
                    background-color: $color__site-gray;
                }

                &:active,
                &:hover {
                    color: rgba(0, 0, 0, 1);
                }
            }

            &.active {
                .link {
                    color: $color__site-primary;

                    &::before {
                        background-color: $color__site-primary;
                    }
                }
            }

            @include respond-to('col-md-max') {
                .link {
                    font-size: 0.875rem;
                    height: 50px;

                    &::before {
                        height: 3px;
                    }
                }
            }
        }
    }
}

.ul-table-symposium {
    &>li {
        border-bottom: 1px solid $color__table-border;

        &>ul.ul-table-head,
        &>ul.ul-table-body {
            &>li {
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 1px;

                @include respond-to('col-md-max') {
                    height: 40px;
                }
            }
        }

        &>ul.ul-table-foot {
            li {
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                .tag {
                    margin: 0 5px;
                }

                @include respond-to('col-md-max') {
                    height: 40px;
                }
            }
        }
    }

    em {
        font-style: normal;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ul-info-wrap {
        display: none;
    }

    &.ul-table-symposium-1 {
        &>li {

            &>ul.ul-table-head,
            &>ul.ul-table-body {
                &>li:nth-child(1) {
                    width: 4%;
                }

                &>li:nth-child(2) {
                    width: 7%;
                }

                &>li:nth-child(3) {
                    width: 14%;
                }

                &>li:nth-child(4) {
                    width: 18%;
                }

                &>li:nth-child(5) {
                    width: 10%;
                }

                &>li:nth-child(6) {
                    width: 20%;
                }

                &>li:nth-child(7) {
                    width: 15%;
                }

                &>li:nth-child(8) {
                    width: 12%;
                }

                @include respond-to('col-sm-max') {
                    &>li:nth-child(1) {
                        width: 8%;
                    }

                    &>li:nth-child(2) {
                        width: 22%;
                    }

                    &>li:nth-child(3) {
                        display: none;
                    }

                    &>li:nth-child(4) {
                        display: none;
                    }

                    &>li:nth-child(5) {
                        width: 25%;
                    }

                    &>li:nth-child(6) {
                        display: none;
                    }

                    &>li:nth-child(7) {
                        width: 23%;
                    }

                    &>li:nth-child(8) {
                        width: 22%;
                    }
                }
            }
        }
    }

    &.ul-table-symposium-2 {
        &>li {

            &>ul.ul-table-head,
            &>ul.ul-table-body {
                &>li:nth-child(1) {
                    width: 5%;
                }

                &>li:nth-child(2) {
                    width: 15%;
                }

                &>li:nth-child(3) {
                    width: 20%;
                }

                &>li:nth-child(4) {
                    width: 20%;
                }

                &>li:nth-child(5) {
                    width: 20%;
                }

                &>li:nth-child(6) {
                    width: 20%;
                }

                @include respond-to('col-sm-max') {
                    &>li:nth-child(1) {
                        width: 8%;
                    }

                    &>li:nth-child(2) {
                        width: 20%;
                    }

                    &>li:nth-child(3) {
                        width: 25%;
                    }

                    &>li:nth-child(4) {
                        width: 20%;
                    }

                    &>li:nth-child(5) {
                        display: none;
                    }

                    &>li:nth-child(6) {
                        width: 30%;
                    }
                }
            }
        }
    }
}