.body-login {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: $color__site-blue;
    position: relative;
    min-height: 100vh;

    background-color: $color__site-blue;
    background: linear-gradient(shade($color__site-blue, 20%), #{$color__site-blue});
    background-repeat: no-repeat;

    .section {
        color: white;
    }

    .site-brand {
        img {
            width: 135px;
        }
    }

    a {
        color: white;
        opacity: 0.4;
        letter-spacing: normal;

        &:active,
        &:hover {
            opacity: 1;
        }
    }

    .dl-list {

        dt,
        dd {
            font-size: 0.875rem;
            color: white;
            line-height: 1.5;

            a {
                color: white;
                letter-spacing: normal;
            }
        }

        dt {
            width: 50px;
        }

        dd {
            width: calc(100% - 50px);
        }
    }

    .button {
        background-color: #1448b2;

        &:active,
        &:hover,
        &:focus {
            background-color: shade(#1448b2, 30%);
        }
    }

    .custom-control {
        text-align: left;
        vertical-align: middle;

        .custom-control-label {
            font-size: 0.875rem;
            line-height: 1.8;
        }
    }

    .lead {
        font-size: 1.025rem;
    }


    @include respond-to('col-md-max') {
        display: block;
        padding: 2rem 0;
    }

    .login-say {
        border: 1px solid shade($color__site-blue, 5%);
        padding: 3rem 0;
        @include border-radius(10px);
        @include box-shadow(0 5px 15px -5px rgba(0, 0, 0, 0.15));

        .title {
            font-weight: 500;
            color: $color__site-yellow;

            span {
                font-weight: 400;
                font-size: 0.875rem;
                color: white;
                opacity: 0.7;
            }
        }

        .desc {
            margin-top: 2rem;
            font-size: 1.025rem;
            font-weight: 300;
            margin-bottom: 0;

            strong {
                font-weight: 500;
                color: $color__site-mint;
                letter-spacing: normal;
                letter-spacing: normal;
            }
        }
    }
}