.modal-content {
	@include border-radius(3px);
}

.modal-header {
	border-bottom-color: $color__modal-border;
	padding: 10px 1rem;
	align-items: center;

	.modal-title {
		margin-bottom: 0;
		line-height: 1.4;
	}

	small {
		color: $color__site-dark-gray;
	}

	.close {
		outline: none;
	}
}

.modal-footer {
	color: white;
	border-top-color: $color__modal-border;
	justify-content: center;
	padding: 10px 1rem;

	.button {
		min-width: 110px;

		@include respond-to('col-md-max') {
			min-width: 85px;
		}

		@include respond-to('col-sm-max') {
			min-width: auto;
		}
	}
}

.modal.fade .modal-dialog {
	-moz-transition: none !important;
	-o-transition: none !important;
	-webkit-transition: none !important;
	transition: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
}

.modal-backdrop.show {
	opacity: .7;
}

.modal-mobile {
	.modal-content {
		margin: 0 auto;
		border: none;
		background-color: transparent;
		width: 320px;
		height: 648px;
		background-image: url('../images/phone/mockup.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 320px 648px;
		position: relative;

		.close {
			position: absolute;
			right: 3rem;
			top: 40px;
			font-size: 2rem;
			opacity: 0.8;
			outline: none;

			&:active,
			&:hover {
				opacity: 1;
			}
		}

		.close-oval {
			position: absolute;
			width: 65px;
			height: 65px;
			bottom: 26px;
			top: inherit;
			left: 50.7%;
			opacity: 0.1;
			outline: none;
			@include border-radius(100%);
			@include transform(translateX(-50%));
		}

		& > .content {
			position: absolute;
			top: 106px;
			left: 20px;
			background-color: white;
			width: 284px;
			height: 426px;
			opacity: 1;
			padding: 0.5rem;
			overflow-y: scroll;
		}
	}
}

.modal {
	overflow-y: auto;
}
