.swipe-menu-wrap {
	background-color: white;

	ul {
		display: flex;

		li {
			flex: 1 1 0;
			flex-grow: 1;
			text-align: center;
			border-left: 1px solid $color__site-light-gray;

			&:first-child {
				border-left: transparent;
			}

			a {
				height: 60px;
				display: inline-block;
				line-height: 60px;
				width: 100%;
				font-size: 1.25rem;
				font-weight: 500;
				text-decoration: none;
				color: rgba(0, 0, 0, 0.4);
				position: relative;
				white-space: nowrap;

				&:active,
				&:hover {
					color: $color__text-main;
				}

				&::before {
					content: '';
					position: absolute;
					left: 0;
					width: 100%;
					height: 6px;
					bottom: 0;
					background-color: $color__site-gray;
				}
			}

			&.active {
				a {
					color: $color__site-primary;

					&::before {
						background-color: $color__site-primary;
					}
				}
			}
		}
	}

	@include respond-to('col-md-max') {
		overflow-x: scroll;
		overflow-y: hidden;

		ul {
			li {
				flex: 0 0 1;

				a {
					font-size: 1rem;
					height: 40px;
					line-height: 40px;
					padding-left: 0.5rem;
					padding-right: 0.5rem;

					&::before {
						height: 4px;
					}
				}
			}
		}
	}
}

.slick-menu-wrap {
	margin-top: 1.5rem;
	position: relative;
	touch-action: auto;
	-ms-touch-action: auto;

	&.top {
		@include respond-to('col-sm-max') {
			border-top: 1px solid $color__site-light-gray;
			margin-top: 0;
			margin-left: -1rem;
			margin-right: -1rem;
		}
	}

	.slick-menu {
		opacity: 0;
		visibility: hidden;
		background-color: white;
		height: 60px;
		@include transition(opacity 0.5s ease);

		@include respond-to('col-md-max') {
			height: 40px;
		}

		&.slick-initialized {
			opacity: 1;
			visibility: visible;
		}

		.slick-slide {
			border-left: 1px solid $color__site-light-gray;

			&:first-child {
				border-left-color: transparent;
			}

			a {
				display: inline-block;
				height: 60px;
				line-height: 60px;
				font-size: 1.25rem;
				width: 100%;
				text-align: center;
				font-weight: 500;
				text-decoration: none;
				color: rgba(0, 0, 0, 0.4);
				white-space: nowrap;
				position: relative;
				outline: none;

				a:active,
				&:hover {
					color: $color__text-main;
				}

				&::before {
					content: '';
					position: absolute;
					left: 0;
					width: 100%;
					height: 6px;
					bottom: 0;
					background-color: $color__site-gray;
				}

				@include respond-to('col-md-max') {
					font-size: 1rem;
					height: 50px;
					line-height: 50px;

					&::before {
						height: 4px;
					}
				}

				@include respond-to('col-sm-max') {
					font-size: 0.875rem;
				}
			}

			&.highlight {
				a {
					color: $color__site-primary;

					&::before {
						background-color: $color__site-primary;
					}
				}
			}
		}
	}

	.slick-arrow {
		opacity: 0;
		@include transition(opacity 0.3s ease);

		@include respond-to('col-sm-max') {
			opacity: 1;
		}

		.button-slick {
			@extend %btn-reset;
			position: absolute;
			top: 0;
			z-index: 50;
			@include transition(opacity 0.4s ease);

			img {
				width: 30px;
				height: 50px;
			}

			&.btn-prev {
				left: 0;
			}

			&.btn-next {
				right: 0;
			}

			&.slick-disabled {
				opacity: 0;
			}
		}
	}

	&.mid {
		margin-top: 1rem;

		.slick-menu {
			height: 50px;

			.slick-slide {
				a {
					height: 50px;
					line-height: 50px;
					font-size: 1.125rem;

					&::before {
						height: 3px;
					}

					@include respond-to('col-md-max') {
						font-size: 1rem;
					}

					@include respond-to('col-sm-max') {
						font-size: 0.875rem;
					}
				}
			}
		}
	}
}

.swiper-container {
	width: 100%;
	height: 100%;

	&.top {
		@include respond-to('col-sm-max') {
			top: -15px;
			width: calc(100% + 30px);
			margin-left: -1rem;
			margin-right: -1rem;
		}
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		border-left: 1px solid $color__site-light-gray;
		flex: 0 1 auto;

		@include respond-to('col-sm-max') {
			flex: 0 0 33.3333%;
		}

		&:first-child {
			border-left: none;
		}

		a {
			position: relative;
			width: 100%;
			height: 60px;
			display: inline-block;
			line-height: 60px;
			white-space: nowrap;
			color: rgba(0, 0, 0, 0.5);
			text-decoration: none;
			font-size: 1.125rem;
			font-weight: 500;

			&:active,
			&:hover {
				color: rgba(0, 0, 0, 1);
			}

			&::before {
				content: '';
				position: absolute;
				width: 100%;
				left: 0;
				height: 6px;
				bottom: 0;
				display: inline-block;
				z-index: 1;
				background-color: $color__site-gray;
			}

			@include respond-to('col-md-max') {
				height: 50px;
				line-height: 50px;
				font-size: 1rem;

				&::before {
					height: 3px;
				}
			}

			@include respond-to('col-sm-max') {
				font-size: 0.875rem;
			}
		}

		&.highlight {
			a {
				color: $color__site-primary;

				&::before {
					background-color: $color__site-primary;
				}
			}
		}
	}

	.swiper-button {
		display: none;
		outline: none;

		@include respond-to('col-sm-max') {
			display: inline-block;
			width: 30px;
			height: 50px;
			position: absolute;
			top: 0;
			z-index: 100;
			@include transition(opacity 0.3s ease);

			&::before {
				content: '';
				display: inline-block;
				width: 30px;
				height: 50px;
				background-image: url('../images/slick/arrow-prev.png');
				background-size: 30px 50px;
			}

			&.custom-swiper-button-next {
				right: 0;

				&::before {
					background-image: url('../images/slick/arrow-next.png');
				}
			}

			&.swiper-button-disabled {
				opacity: 0;
			}
		}
	}
}
