.table {
	border-left: 1px solid $color__table-default-border;
	border-right: 1px solid $color__table-default-border;
	border-bottom: 1px solid $color__table-default-border;
	background-color: white;
	// table-layout: fixed;

	thead {
		tr {
			th {
				color: $color__site-primary;
				border-bottom-width: 1px;
				padding-left: 1px;
				padding-right: 1px;
				vertical-align: middle;
			}
		}
	}

	tr {
		&:last-child {
			border-bottom: 1px solid $color__table-default-border;
		}

		&.drawer-up {
			cursor: pointer;
		}

		td {
			padding: 0.5rem;
			vertical-align: middle;
			padding-left: 1px;
			padding-right: 1px;

			.custom-select {
				@include respond-to('col-md-max') {
					height: 30px;
					line-height: 1.4;
					font-size: .875rem;
				}
			}
		}

		&.bg-gray {
			background-color: $color__site-light-gray;
		}

		&.drawer-down {
			display: none;
			background-color: tint($color__site-light-gray, 50%);

			.colspan-auto {
				padding: 0;
			}
		}
	}

	th {
		font-weight: 500;
	}

	th,
	td {
		height: 50px;
		vertical-align: middle;

		&.overflow-ellipsis {
			max-width: 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	tbody {
		&.tbody-overlap {
			border-top: 10px solid $color__site-bg;
			background-color: tint($color__site-muted, 60%);
		}
	}

	tfoot {
		.tag {
			margin: 0 5px;
		}
	}

	&.nowrap {
		white-space: nowrap;
	}

	@include respond-to('col-lg-max') {
		font-size: 0.875rem;
	}

	@include respond-to('col-md-max') {
		font-size: 0.75rem;
	}

	.mobile,
	.hidden-mobile {
		@include respond-to('col-sm-max') {
			display: none;
			width: 0;
			height: 0;
			opacity: 0;
			visibility: collapse;
		}
	}

	.tr-detail {
		display: none;
		cursor: pointer;

		td {
			padding: 0;

			.ul-info {
				border-top: none;
			}
		}
	}

	.small-date {
		display: block;
		opacity: 0.5;
	}

	& + .div-table-footer {
		display: none;
		position: relative;
		top: -1rem;
		width: 100%;
		background-color: white;
		height: 60px;
		align-items: center;
		justify-content: center;
		border-left: 1px solid $color__table-border;
		border-right: 1px solid $color__table-border;
		border-bottom: 1px solid $color__table-border;

		button {
			margin: 0 5px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		&.active {
			display: flex;
		}

		@include respond-to('col-sm-max') {
			position: fixed;
			top: inherit;
			width: 100%;
			z-index: 100000;
			left: 0;
			right: 0;
			height: 70px;
			bottom: -70px;
			background-color: $color__site-muted;
			border-color: transparent;
			display: flex;
			@include transition(bottom 0.45s ease-in-out);

			.tag {
				height: 50px;
			}

			&.active {
				bottom: 0;
			}
		}

		.tag {
			background-color: $color__button-gray;
		}
	}

	&__notice {
		tr {
			th {
				background-color: $color__site-light-gray;
				text-align: center;
			}

			td {
				padding: 0.5rem;
			}
		}
	}
}
