.tooltip-info {
    outline: none;
    position: relative;
    line-height: 0;
    position: relative;
    top: -1px;

    // i {
    //     @include respond-to('col-md-max') {
    //         font-size: 1rem !important;
    //     }

    //     @include respond-to('col-sm-max') {
    //         font-size: 0.625rem !important;
    //     }
    // }

    .tooltip-box {
        display: none;
        position: absolute;
        background-color: black;
        color: white;
        right: 1px;
        white-space: pre-wrap;
        width: 220px;
        font-size: 0.75rem;
        padding: 0.5rem;
        bottom: 32px;
        line-height: 1.6;
        font-weight: 400;
        @include border-radius(5px);

        &::after {
            content: '';
            position: absolute;
            bottom: -7px;
            right: 7px;
            border-top: 10px solid black;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
        }

        @include respond-to('col-md-max') {
            right: -3px;
            bottom: 24px;
        }

        @include respond-to('col-sm-max') {
            width: 200px;
            right: -2px;
            bottom: 25px;
        }
    }

    &.toggled {
        .tooltip-box {
            display: block;
        }
    }
}